<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Relatorios.My.MySettings.BeyondConnectionString" connectionString="Data Source=ERP-16;Initial Catalog=Beyond;Persist Security Info=True;User ID=sa;Password=L@rdebkp" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
